.top-bar {
  height: 3.75rem; /* 60px */
  border: none;
  display: flex;
  align-items: center;
  padding: 0 1.25rem;
  background-color: var(--bg-primary);
  font-weight: 600;
  font-size: 1.25rem;
  color: var(--text-primary);
  position: relative;
}

.top-bar::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(to right,
    rgba(0, 0, 0, 0),
    var(--border-color) 20%,
    var(--border-color) 80%,
    rgba(0, 0, 0, 0)
  );
  box-shadow: 0 2px 5px var(--shadow-color);
}

.top-bar-left {
  display: flex;
  align-items: center;
  margin-right: 0.9375rem;
}

.sidebar-toggle-button {
  background: none;
  border: none;
  font-size: 1.25rem;
  cursor: pointer;
  margin-right: 0.4375rem;
  padding: 0.3125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-primary);
}

.sidebar-toggle-button:hover {
  background-color: var(--button-secondary-hover);
  border-radius: 4px;
}

.sidebar-toggle-icon {
  width: 1.75rem;
  height: 1.75rem;
}

.new-chat-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.3125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  color: var(--text-primary);
}

.new-chat-button:hover {
  background-color: var(--button-secondary-hover);
}

.new-chat-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.top-bar-content {
  flex: 1;
  margin-left: 0.625rem;
  padding-bottom: 0.125rem;
}

.dark-theme .sidebar-toggle-icon,
.dark-theme .new-chat-icon {
  filter: brightness(0) invert(1);
}
